Source: snapman
Section: admin
Priority: optional
Maintainer: Manuel Domínguez López <mdomlop@gmail.com>
Build-Depends: debhelper (>= 9), python-docutils
Standards-Version: 3.9.8
Homepage: https://github.com/mdomlop/snapman

Package: snapman
Architecture: all
Provides: snapman
Conflicts: snapman-git
Depends: python3 (>= 3.5), btrfs-progs (>= 4.7), python-pyqt5 (>=5.8)
Description: A Btrfs based backup program
 A backup program based on CoW filesystem capatibilities.
 Currently only supports Btrfs.
